.create-restaurant-form textarea {
    resize: none;
    border: 1px solid;
    border-color: transparent;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    border-radius: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.create-restaurant-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    height: 800px;
    overflow-y: auto;
    background-color: white;
    border-radius: 4px;
}

.create-restaurant-form {
    flex-direction: column;
    gap: 20px;
    width: 500px;
    text-align: center;
    height: 100%;

}

/* .create-restaurant-button {
    padding-bottom: 20px;
} */

.create-restaurant-form textarea {
    /* margin-left: 20px; */
    background-color: #FDE0E6;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 700;
}

.create-restaurant-page button {
    margin: 13px;
}

.create-restaurant-form .input {
    width: 75%;
    margin: 13px;
    height: 20px;
    padding: 20px;
    border: 1px solid #ebebeb;
    background-color: #FDE0E6;
    border-radius: 4px;
    font-size: 16px;
    color: black;
    font-weight: 700;
        box-sizing: border-box;
    cursor: pointer;
}

.upload {
    margin-right: 70px;
}

.upload-title {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #68a5da;
    font-weight: 600;
}

/* background-color: #f5b8c4;
        border: none;
        color: #FF69B4;
        padding: 12px 24px;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        box-sizing: border-box;
        box-shadow: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-right: 10px;
        margin-top: 10px;? */
a {
    text-decoration: none;
}

.DropdownPhotos {
    color: rgb(80 121 215);
    cursor: pointer;
    padding-bottom: 20px;
}

.DropdownPhotos:hover {
    color: rgb(78, 78, 113);
    cursor: pointer;
}

.title-update-form {
    /* margin-top: 21px;
        margin-bottom: 15px; */
    font-size: 23px;
    text-align: center;
    color: #68a5da;
}
