#map {
    width: 100%;
    height: 100%;
}

#map-container {
    width: 100%;
    height: 624.67px;
    display: flex;
}

.delete-review-button-container button, .update-review-button-container button{
    font-weight: 700;
    font-size: 13px;
    width:65px;
    padding:6px;
}
.reviews-card-container span{
    margin-bottom: 15px;
}
.delete-review-button-container button{
height:30px;

}
.restaurant-hours span+span {
    padding-left: 15px;
}

.restaurant-create-review button{
background-color: #FF69B4;
color: white;

}
.update-review-button-container button{
height: 30px;
}
.restaurant-hours span li {

    padding-bottom: 10px;
    font-weight: 700;
}

.open{
    color: green;
    padding-bottom: 10px;
}
#restaurant-closed{
    color: red;
    padding-bottom: 10px;
}
.restaurant-hours {
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    list-style: none;
}
.none{

    opacity: 0;
}
.restaurant-hours-border {
    border-color: #ebebeb;
    border-top: 1px solid #ebebeb;
    padding-top: 20px;
    padding-bottom: 20px;
}

.restaurant-hours-title {
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
}

.directions-buttons-container {
    padding-bottom: 20px;
}

.restaurant-reviews-border {
    border-color: #ebebeb;
    border-top: 1px solid #ebebeb;
    padding-top: 20px;
    padding-bottom: 20px;
}

.restaurant-reviews-title {
    /* padding-bottom: 20px; */
    font-size: 30px;
    font-weight: 700;
}

.reviews-card-container {
    Display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.restaurant-create-review{
    padding-bottom: 20px;
}
.reviews-box {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 15px;
}

.user {
    display: flex;
    align-items: center;
}

.user-name {
    display: flex;
    flex-direction: column;
}

.user-name-inner {
    color: black;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.reviews-card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.weekday, .weektime, .open, .none, #restaurant-closed{
    font-size:20px;
}
.review-description p{
font-size: 0.9rem;
color: #4b4b4b;
}
