.loading-icon{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
}
.restaurant-title-header {
    text-align: center;
}


/* .restaurant-photos{
    height: 200px;
    width: 200px;
} */

.restaurant-item-images-container {
    overflow: hidden;
    place-items: center;
    height: 370px;



}


.container-swipe-feed {
    display: flex;
    padding-left: 254px;
    justify-content: space-around;


}

/* .restaurant-item-images-container-slider{
    height: 400px;
    margin:auto;
    position: relative;
    width: 99%;
    display: grid;
    place-items: center;
    overflow:hidden;
    white-space: nowrap;

} */

.restaurant-item-images-container-slider {
    /* height: 400px; */
    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    max-width: 1900px;
    overflow: hidden;
    white-space: nowrap;

}

.restaurant-item-restaurant-photos {
    height: 110vh;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-color: black;
}

.restaurant-item-images-container-slider-track {
    display: inline-block;
    vertical-align: baseline;

}

.restaurant-item-images-container-slider-track img {
    height: 370px;
    width: 400px;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.restaurant-item-info-container {
    align-items: flex-end;
    bottom: 0;
    box-sizing: border-box;
    display: inline-block;
    left: 0;
    margin: auto;
    padding: 5px 64px;
    position: absolute;
    right: 0;
    border: 0px;
    border-color: white;
    vertical-align: baseline;
    /* margin-right: -70px; */
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    /* text-align: center; */
    padding-left: 451px;
    padding-top: 238px;




}

.restaurant-item-info-container h1 {
    font-size: 42px;
    font-weight: 800;
    color: white;
    line-height: 56px;
    /* font-family: 'NRT Reg', sans-serif; */


}

.restaurant-star-rating {
    font-weight: 700px;
    color: white;
}

.restaurant-star-rating span {
    font-size: 27px;
    font-weight: 900px;
    color: white;
}

.restaurant-star-rating .rest-address,
.restaurant-star-rating .rest-city {
    color: #d0cbcb;
    font-size: 17px;
}

.restaurant-item-info-content {
    flex: 1 auto;
    pointer-events: none;
    z-index: 1;
    padding-right: 16px;
    border: 0px;
    height: 25vh;
    border-color: white;
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;


}

.restaurant-item-reviews-feed {
    padding: 10px;

}

/* .restaurant-item-content{
display: flex;
} */
.write-a-review {
    text-align: center;
}

.restaurant-item-info-content .restaurant-item-content-space {
    border-color: white;
    border-collapse: initial;
    border-spacing: 16px 0;
    margin-left: -16px;
    margin-right: -16px;
    display: table;
    min-width: 100%;
    table-layout: auto;
    vertical-align: baseline;
}

.restaurant-item-content-units {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 8px;
    margin-right: 8px;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: top;
    border-color: white;
    width: 100%;
}



.reviews-card .reviews-card-image {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 3px;
    background: mediumaquamarine;
}


.restaurant-item-restaurant-photos img {
    height: auto;
    max-width: 100%;
}

.restaurant-items-photo-text {
    position: absolute;
    bottom: 0;
    font-weight: 700;
    color: white;
}


.reviews-card .reviews-card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ffff;
}


.reviews-card {
    position: relative;
    height: 280px;
    background: white;
    border-radius: 20px;
    margin: 20px 10px;
    width: 240px;
}

.reviews-card::before {
    content: '';
    height: 40%;
    width: 100%;
    position: absolute;
    border-radius: 20px;
    background: mediumaquamarine;
    border-radius: 20px 20px 0 0;


}

.reviews-card .reviews-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}

.reviews-card .reviews-rating {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.reviews-card .reviews-description {
    font-size: 12px;
    margin-top: 10px;
}

.reviews-card .reviews-update-delete-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.reviews-card .reviews-update-delete-buttons button {
    outline: none;
    border: none;
    padding: 8px 22px;
    border-radius: 20px;
}

.swiper {
    height: 100%;
    width: 100%;
}


/* .reviews-card .reviews-rating{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center
} */

.item-feed {
    display: flex;
}

.pictures-slide-feed {
    display: flex;
}


  #map {
      width: 100%;
      height: 100%;
  }
  #map-container {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
