.loading-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.restaurant-title-header {
    text-align: center;
}


/* .restaurant-photos{
    height: 200px;
    width: 200px;
} */

.restaurant-item-images-container {
    overflow: hidden;
    place-items: center;
    height: 370px;



}


.container-swipe-feed {
    display: flex;
    padding-left: 254px;
    justify-content: space-around;


}

/* .restaurant-item-images-container-slider{
    height: 400px;
    margin:auto;
    position: relative;
    width: 99%;
    display: grid;
    place-items: center;
    overflow:hidden;
    white-space: nowrap;

} */

.restaurant-item-images-container-slider {
    /* height: 400px; */
    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    max-width: 1900px;
    overflow: hidden;
    white-space: nowrap;

}

.restaurant-item-restaurant-photos {
    height: 110vh;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-color: black;
}

.restaurant-item-images-container-slider-track {
    display: inline-block;
    vertical-align: baseline;

}

.restaurant-item-images-container-slider-track img {
    height: 370px;
    width: 400px;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.restaurant-item-info-container {
    align-items: flex-end;
    width: calc(100% / 2 * 2);
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    justify-content:left;
    left: 0;
    margin: auto;
    /* padding: 5px 64px; */
    position: absolute;
    right: 0;
    border: 0px;
    border-color: white;
    vertical-align: baseline;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    padding-left: 465px;
    padding-top: 238px;

}

/* .restaurant-item-info-container {
    position: absolute;
    box-sizing: border-box;
    width: calc(100% / 2 * 2);
    padding-top: 10px;
    margin-top: 32px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    z-index:4;
    height: 370px;

} */


.restaurant-item-info-container h1 {
    font-size: 48px;
    font-weight: 800;
    color: white;
    line-height: 56px;
    /* font-family: 'NRT Reg', sans-serif; */


}

.restaurant-star-rating {
    font-weight: 700px;
    color: white;
}

.restaurant-star-rating span {
    font-size: 27px;
    font-weight: 900px;
    color: white;
}

.restaurant-star-rating .rest-address,
.restaurant-star-rating .rest-city {
    color: #d0cbcb;
    font-size: 20px;
}

.restaurant-item-info-content {
    flex: 1 auto;
    pointer-events: none;
    z-index: 1;
    padding-right: 16px;
    border: 0px;
    height: 25vh;
    border-color: white;
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;


}

.restaurant-item-reviews-feed {
    padding: 10px;

}




.restaurant-item-info-content .restaurant-item-content-space {
    border-color: white;
    border-collapse: initial;
    border-spacing: 16px 0;
    margin-left: -16px;
    margin-right: -16px;
    display: table;
    min-width: 100%;
    table-layout: auto;
    vertical-align: baseline;
}

.restaurant-item-content-units {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 8px;
    margin-right: 8px;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: top;
    border-color: white;
    width: 100%;
}



.reviews-card .reviews-card-image {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 3px;
    background: mediumaquamarine;
}


.restaurant-item-restaurant-photos img {
    height: auto;
    max-width: 100%;
}

.restaurant-items-photo-text {
    position: absolute;
    bottom: 0;
    font-weight: 700;
    color: white;
}


.reviews-card .reviews-card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ffff;
}


.reviews-card {
    position: relative;
    height: 280px;
    background: white;
    border-radius: 20px;
    margin: 20px 10px;
    width: 240px;
}

.reviews-card::before {
    content: '';
    height: 40%;
    width: 100%;
    position: absolute;
    border-radius: 20px;
    background: mediumaquamarine;
    border-radius: 20px 20px 0 0;


}

.reviews-card .reviews-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}

.reviews-card .reviews-rating {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.reviews-card .reviews-description {
    font-size: 12px;
    margin-top: 10px;
}

.reviews-card .reviews-update-delete-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.reviews-card .reviews-update-delete-buttons button {
    outline: none;
    border: none;
    padding: 8px 22px;
    border-radius: 20px;
}

.swiper {
    height: 100%;
    width: 100%;
}

.location-title {
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
}

.restaurant-info-inner-container {
    margin-bottom: 20px;
    display: block;
    margin-left: 10px;
    width: calc(100% / 2 * 2);
}

/* .reviews-card .reviews-rating{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center
} */

.item-feed {
    display: flex;
}

.pictures-slide-feed {
    display: flex;
}


#map {
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

#map-container {
    box-sizing: border-box;
    width: calc(100% / 2 * 2);
    padding-top: 10px;
    margin-top: 32px;
    /* padding-bottom:50px; */
    display: flex;
    justify-content: center;
}

.page-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    position: relative;
    width: 100px;
    margin: 50px;
}

.loader .jelly {
    -webkit-animation: jumping 1s infinite;
    animation: jumping 1s infinite;
}

.loader .stick {
    width: 30px;
    height: 50px;
    background-color: #c59b6c;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

.loader .body {
    width: 100px;
    height: 190px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: rgb(133, 59, 59);
    -webkit-animation: body 1s infinite;
    animation: body 1s infinite;
    z-index: 1;
}

.loader .mouth {
    position: absolute;
    top: 105px;
    left: 32px;
    width: 30px;
    height: 20px;
    border: 3px solid #2a333b;
    border-radius: 0 0 40px 40px;
    background-color: #2a333b;
    overflow: hidden;
    z-index: 1;
}

.directions-reset-container {
    border-color: #ebebeb;
    border-top: 1px solid #ebebeb;
    padding-top: 10px;
}

.loader .mouth:before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 40px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff4081;
}

.loader .eye {
    position: absolute;
    top: 85px;
    width: 10px;
    height: 15px;
    border-radius: 50%;
    background-color: #2a333b;
    -webkit-animation: eye 6s infinite;
    animation: eye 6s infinite;
}

.loader .eye:nth-child(even) {
    left: 20px;
}

.loader .eye:nth-child(odd) {
    right: 20px;
}

.loader .shadow {
    position: absolute;
    bottom: -10px;
    z-index: -1;
    width: 100px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(42, 51, 59, 0.2);
    -webkit-animation: shadow 1s infinite;
    animation: shadow 1s infinite;
}

@-webkit-keyframes jumping {
    0% {
        transform: translateY(-40px);
    }

    70% {
        transform: scale(1.02, 0.9) translateY(10px);
    }

    100% {
        transform: translateY(-40px);
    }
}

@keyframes jumping {
    0% {
        transform: translateY(-40px);
    }

    70% {
        transform: scale(1.02, 0.9) translateY(10px);
    }

    100% {
        transform: translateY(-40px);
    }
}

@-webkit-keyframes eye {
    0% {
        transform: scale(1);
    }

    2% {
        transform: scale(2, 0.2);
    }

    4% {
        transform: scale(1);
    }

    6% {
        transform: scale(2, 0.2);
    }

    8% {
        transform: scale(1);
    }
}

@keyframes eye {
    0% {
        transform: scale(1);
    }

    2% {
        transform: scale(2, 0.2);
    }

    4% {
        transform: scale(1);
    }

    6% {
        transform: scale(2, 0.2);
    }

    8% {
        transform: scale(1);
    }
}

@-webkit-keyframes shadow {
    0% {
        transform: scaleX(0.9);
    }

    70% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0.9);
    }
}

@keyframes shadow {
    0% {
        transform: scaleX(0.9);
    }

    70% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0.9);
    }
}
