.restaurant-title-header{
    text-align: center;
}


.restaurant-photos{
    height: 200px;
    width: 200px;
}

.restaurant-item-images-container{
    width: 1000px;
    display: flex;
}

/* .restaurant-item-images-container div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;

} */

/* .restaurant-item-images-container div img{
    width: 100%;
} */

/* .restaurant-item-content{
    position: relative;
    border-width: 20px;
    border-style: solid;
    border-image-source: url('https://i.pinimg.com/736x/23/c1/77/23c177e07bf0e870863ae27812a08901.jpg');
    border-image-slice: 40;
    border-image-repeat:round;
} */
