.sign-up-form-container {
margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
        background-color: #faf3f3;
    text-align: center;
    align-items: center;
    width: 450px;
    height: 650px;
    background-image: url('https: //cdn.dribbble.com/users/7854/screenshots/15330807/media/bf124c1c799e852a4d260cf9fce92e7a.gif'); background-repeat:repeat
}
.sign-up-form-container button {
    margin-bottom: 10px;
}

.error-messages-signup{
    list-style: none;
    color: red;
    padding: 5px;
    font-weight: bold;

}

#myImage{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
