.sign-up-form-container {
margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 350px;
    height: 400px;
}
