
.log-in-form-below-frog {
margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 350px;
    /* background-color: rgb(140, 105, 246); */
}
.log-in-form-title{
    margin-bottom: 14px;

}
.demo-sign-in-button {
    background-color: #5308f4;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    height: 48px;
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;
    margin-left: 5px;
}

.sign-up-modal-button button{
    width: 100px;
        height: 50px;
        border: none;
        border-radius: 5px;
        height: 48px;
        color: black;
        background-color: pink;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 5px;
        margin-bottom: 15px;
        cursor: pointer;
        margin-left: 5px;
}

.loginform-sign-in-button {
    background-color: #5308f4;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    height: 48px;
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;
    margin-left: 5px;

}

.signup-link-in-login-form {
    justify-content: center;
}

.form-log-in {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.login-log-in-button{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
    background-color: aquamarine;
    font-weight: bold;
    border: none;
        border-radius: 5px;
    color: black;
    padding-bottom: 25px;
}
label {
    margin-bottom: 0.5rem;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 23px;
}

.email-and-password-form {
    background-color: rgb(211, 176, 244);

}
