


.All-Restaurants-Feed {
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;

    }



    .home-page-restaurant-container {
        display: flex;
        justify-content: space-around;
        /* box-shadow: 0 0 5px rgba(0, 0, 0, .5); */
        /* min-width: 275px;
        min-height: 275px */
        min-width: 412.5px;
        min-height: 275px;

    }


    .home-page-restaurant-card {
        height: 275px;
        /* margin: 27px; */
        min-width: 412.5px;
    }

    /* .home-page-restaurant-card{
        height: 300px;
        margin: 30px;
        overflow: hidden;

    } */

/* .home-page-restaurant-card-content h4 span+span{
padding: 60px;
} */
    .all-restaurants-preview-image {
        height: 275px;
        min-width: 412.5px;
        border-radius: 3px;
        /* width: 352px; */
    }
    /* .all-restaurants-preview-image {
        height: 300px;
        width: 210px;
        border-radius: 3px;
    } */
    .home-page-restaurant-card-content {
        padding: 6px;
        box-sizing: border-box;
        position: absolute;
        background: rgb(27, 27, 27, .5);
        color: white;
        bottom: 96.6px;
        bottom: 27px;
        height: 59px;
    }

    .hidden-message-home{
        height: 30px;
        width: 262px;
    }

    /* .home-page-restaurant-card-content{
        height: 50px;
        width: 210px;
        padding: 6px;
        box-sizing: border-box;
        position: absolute;
        background:rgb(27, 27, 27, .5);
        color: white;
        bottom: 105px;

    } */

    .home-page-restaurant-card:hover{
        cursor:pointer;
    }
    .home-page-restaurant-card:hover .home-page-restaurant-card-content {
        height: 110.4px;
        bottom: 27px;

    }
    /* .home-page-restaurant-card:hover .home-page-restaurant-card-content{
        height: 120px;
        bottom: 105px;

    } */

    .home-page-restaurant-card-content h3 {
        margin: 5px;
        font-size: 17px;
    }

    .home-page-restaurant-card-content p {
        /* margin: 10px; */
        font-size: 15px;
        visibility:hidden;
        opacity: 0;
    }

    .home-page-restaurant-card:hover .home-page-restaurant-card-content p{
        opacity: 1;
        visibility: visible;
        font-weight: bold;
    }

    .home-page-restaurant-card{
        cursor: pointer;
    }

    .container-swipe{
width: 65%;
display: flex;
justify-content: center;
padding-top: 130px;

}

.filler-information {
    padding-top: 102px;
    /* background-color: #f5f5f5; */
    /* background: linear-gradient(to top, rgba(239, 189, 189, 0), rgba(239, 189, 189, 1), rgba(239, 189, 189, 1), rgba(239, 189, 189, 0)); */
    padding-bottom: 97px;
    padding-left: 76px;
    width: 600px;
}


  .our-dairy-filler{

    padding: 16px;


  }


  .title-filler {
    color: #333;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 45px;

  }


  .banner-welcome-2{
    margin-top: -100px;
    height: 800px;
    width: 1800px;
    padding-top: 120px;
    padding-bottom: 170px;
  }

  .inside-text-filler{
    line-height: 1.8;
    font-size: 20px;
    color: rgb(59 57 57);
    text-align: center;
}

.home-page-restaurant-title{
    font-size: 25px;
    font-weight: bold;


}
