

/* .profile-button {
    display: flex;
    justify-content: end;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #484848;
    width: 50px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    size-adjust: 1.5%;


} */

.hidden {
    display: none;
}
.profile-button {
    align-items: center;
        color: #484848;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        font-size: 16px;
        font-weight: 500;
        width: 50px;
}
.profile-button-container{
    align-items: center;
        background-color: bisque;
        border-radius: 15px;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        height: 30px;
        justify-content: center;
        width: 1000px;
}

.profile-button-container:hover{
        background-color: rgb(255, 222, 182);
}
/* .no-spots #ManageSpots {
    display: none;
} */

.profile-dropdown {
    background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
        padding-bottom: 10px;
        padding-top: 10px;
        position: absolute;
        top: 50px;
        width: 225px;
        z-index: 2;
        }



/* .profile-dropdown::before,
.profile-dropdown::after{
    position: absolute;
    content:"";
    z-index:-1
} */


.profile-dropdown a {
    color: #008489;
    text-decoration: none;
    font-weight: 500;
}







/* .profile-button-container { */
    /* display: flex;
        align-items: center;
    /* margin-top: 10px; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 45px;
    background-color: rgb(244, 225, 194);
    color: white;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); */
        /* display: flex;
            justify-content: center;
            align-items: center;
            width: 1000px;
            height: 40px;
            background-color: rgb(212, 212, 228);
            color: white;
            cursor: pointer;
            border-radius: 15px; */
/* } */

.log-sign-up{
        background-color: initial;
            border: 1px solid transparent;
            font-size: 16px;
            padding-bottom: 10px;
                text-decoration: none;
            padding-top: 10px;
            text-align: left;
            text-decoration: none;
            width: 100%;
            font-weight: 700;
}
.log-sign-up-name{
    background-color: initial;
        border: 1px solid transparent;
        font-size: 16px;
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: left;
        text-decoration: none;
        width: 100%;
        font-weight: 700;
            margin-left: 5px;
}
.log-sign-up:hover {
    background-color: rgba(225, 225, 225, 0.25);
}
.log-sign-up button {
    background-color: initial;
    border:none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        text-align: left;
        margin-left:5px;
        width:100%;
  }

  .log-sign-up{
    width:100%;
    height:100%;
  }

  .log-sign-up a {
      margin-left: 5px;
      text-decoration: none;
      color: rgb(153, 153, 153);
  }


